<ion-header>
    <ion-navbar>
        <ion-title>
            Upload Files
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
    <form (ngSubmit)="onSubmit()">
        <ion-card>
            <ion-item *ngIf="isImageViewer">
                <ion-grid>
                    <ion-row>
                        <ion-col *ngFor="let obj of resourceImages" col-12>
                            <ion-card>
                                <img [src]="obj?.imageViewer" style="width: 100%; height: 100%;" />
                                <ion-row>
                                    <ion-col>
                                        <button ion-button type="button" clear small color="secondary" icon-start
                                            (click)="deleteImage(obj)">
                                            <ion-icon name='backspace' ios="ios-backspace" md="md-backspace"></ion-icon>
                                            Xóa
                                        </button>
                                    </ion-col>
                                    <ion-col text-right>
                                        <button ion-button type="button" clear small color="secondary" icon-start
                                            (click)="shareImage(obj)">
                                            <ion-icon name='share-alt'></ion-icon>
                                            Gửi
                                        </button>
                                    </ion-col>
                                </ion-row>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-row no-padding>
                <ion-col col-6>
                    <ion-buttons start>
                        <button ion-button type="button" icon-end round>
                            <input type="file" multiple expandable accept="image/*" (change)="fileChange($event)">
                            Chọn ảnh
                            <ion-icon name="images"></ion-icon>
                        </button>
                    </ion-buttons>
                </ion-col>

                <ion-col col-6 *ngIf="resourceImages.length>0">
                    <ion-buttons start>
                        <button ion-button type="submit" icon-end round>
                            Gửi tất cả
                            <ion-icon name="share-alt"></ion-icon>
                        </button>
                    </ion-buttons>
                </ion-col>
            </ion-row>

        </ion-card>
    </form>

</ion-content>